extends layout

block styles
  link(rel='stylesheet', href='/stylesheets/world.css')
  script(src="/javascripts/third_party/socket.io.js")

block content
  canvas#world(width=600, height=360)
  script(src='/javascripts/paddle_world.js')

